<html>
        <head>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
        
        
         <style>
      body {
        background-color: #e0f2f1;
        align-items: center;
      }
      .card {
        background-color: #e0f2f1;
        border-color: #00897b;
      }
      .card-header {
        background-color: #00897b;
        color: white;
      }
      .btn-primary {
        background-color: #00897b;
        border-color: #00897b;
      }
      .btn-primary:hover {
        background-color: #a1c51f;
        border-color: #00695c;
      }
    </style>
    
    
    
        </head>        

        <body class>
            <div class="card-body">
                
                  <h2 class = "text-center font-weight-bold mt-2">Sorry...that was incorrect...</h2>
                  <h4 class="text-center font-weight-bold mt-2">Here's a joke to raise your morale!</h4>
                  <br>
                  <h4 class="text-center mt-2">{{jokeprompt}} </h4> 
                  <br>
                  <h4 class="text-center mt-2">{{jokepunchline}}</h4>
                  <br>
                  <div class="text-center mt-4">
                  <a href="/">  
                  <button type="submit" class="btn btn-primary">Try Again?</button>
                  </a>

                  </div>
                
              </div>
              
        </body>




</html>